{% extends 'base.html' %}
{% block style %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap');
  body{
    font-family: "Poppins", sans-serif;

  }
</style>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <a href="{{url_for('logout')}}" class="btn btn-warning my-3">Logout</a>
  <div class="row">
    <div class="card" style="width: 18rem;">
        <img src="https://i.imgur.com/d2zP0K4.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </div>
</div>
{% endblock %}