{% extends 'base.html' %}
{% block style %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap');
  body{
    font-family: "Poppins", sans-serif;

  }
</style>
{% endblock %}
{% block content %}
<div class="container mt-5">
  <a href="{{url_for('logout')}}" class="btn btn-warning my-3">Logout</a>
  <div class="fs-2">Add an Invitee</div>
  <div class="row mb-5">
    <form action="/add-invitee" method="POST">
      <div class="mb-3">
        <label for="invitee-name" class="form-label">Invitee Name</label>
        <input type="text" class="form-control" id="invitee-name" name="invitee-name" required>
      </div>
      <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" /> 
      <button class="btn btn-primary inline" type="submit">Add</button>
    </form>
  </div>
  <div class="fs-2">Invitee List</div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for invitee in context.invitees %}
      <tr>
        <td>{{invitee.username}}</td>
        <td>{{invitee.email}}</td>
        <td>{{invitee.phonenumber}}</td>
        <td>{{invitee.status}}</td>
        <td>
          <a href="{{url_for('home_with_user', id=invitee.id, username=invitee.username)}}" target="_blank">Copy Link</a>
          <form action="/delete-invitee" method="POST">
            <input type="hidden" name="user-id" value="{{invitee.id}}">
            <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" /> 
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}