{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap');
  body{
    font-family: "Poppins", sans-serif;

  }
  .text-theme {
    font-family: "Lobster Two", sans-serif;
    color: #821131;
    background: -webkit-linear-gradient(135deg,#FABC3F,#E85C0D,#821131);
    background: linear-gradient(135deg,#FABC3F,#E85C0D,#821131);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    word-break: break-word;
  }
  .fs-lg{
    font-size: 4rem;
  }
  .btn-custom{
    background-color: #169d64;
    border-color: #129d63;
    color: #fff;
  }
  .btn-custom:hover{
    opacity: .7;
    color: #fff;
  }
  .img-icon{
    font-size: 6rem;
  }
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .box-style{
    box-shadow: #e7e7e7 4px 4px 8px 0px;
    border-radius: 8px;
  }
</style>
{% endblock %}
{% block content %}
<main>
  <div class="animation-container">
    <div class="envelope">
      <img src="{{url_for('static', filename='img/envelope_back.png')}}" alt="Envelope" class="envelope-image">
    </div>
    <div class="envelope-top">
      <img src="{{url_for('static', filename='img/envelope_front.png')}}" alt="Envelope" class="envelope-image">
    </div>
    <div class="wedding-card">
      <img src="{{url_for('static', filename='img/9710ce4c-3b49-4c52-87d4-25c18c8ddca9.jpg')}}" alt="Wedding Card" class="card-image">
    </div>
  </div>
</main>
<div class="text-center py-5">
  <h1 class="text-theme fs-lg">Wedding Invitation</h1>
  <p class="fst-italic">You are invited to share the Milestone together!</p>
  <button class="btn btn-custom px-4 py-2 mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">RSVP Now!</button>
  <div class="dropdown">
    <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Contact Host
    </a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="tel:+94770245830">+9477 024 5830</a></li>
      <li><a class="dropdown-item" href="mailto:upekshasavindu@gmail.com">upekshasavindu@gmail.com</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row bg-light box-style">
    <div class="col-sm-12 col-md-6">
      <div class="d-flex justify-content-center align-items-center gap-3">
        <div class="img-icon text-theme"><i class='bx bx-calendar' ></i></div>
        <div class="sec-info">
          <p class="fw-light fs-3 m-0">Sunday, 5th January 2025</p>
          <p class="fw-light fs-6 m-0"><a target="_blank" href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20250117%2F20250118&details=Savindu%20%26%20Panchali%20Wedding%20Day&location=River%20Park%20Hotel%2C%2044VC%2BGVF%2C%20Lake%20School%20Rd%2C%20Hikkaduwa%2080240%2C%20Sri%20Lanka&text=Savindu%20%26%20Panchali%20Wedding">Add to Calender</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="d-flex justify-content-center align-items-center gap-3">
        <div class="img-icon text-theme"><i class='bx bx-map-pin'></i></div>
        <div class="sec-info">
          <p class="fw-light fs-3 m-0">Hotel River Park</p>
          <p class="fw-light fs-6 m-0"><a target="_blank" href="https://maps.app.goo.gl/JcQRQKQT8TP977Ag7">River Park Hotel, Lake School Road, Hikkaduwa, Sri Lanka</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col position-relative" style="height: 50vw;">
      <iframe class="responsive-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44880.72202038077!2d80.08854428642844!3d6.139721905989885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae1778afb2222ed%3A0x9e7a4e1c63d7908a!2sRiver%20Park%20Hotel!5e0!3m2!1sen!2slk!4v1728134486822!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
<footer class="bg-light text-center py-3">
  <p class="fst-italic m-0">Let's make the most of this Special Day.</p>
</footer>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Will you attend?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for('submit_data') }}">
          <input type="hidden" name="userID" value="{{context.id}}">
          <div class="mb-3">
            <label for="nameInput" class="form-label">Your Name</label>
            <input type="text" class="form-control" id="nameInput" name="nameInput" value="{{context.username}}" required>
          </div>
          <div class="mb-3">
            <label for="inputEmail" class="form-label">Your Email (Optional)</label>
            <input type="email" class="form-control" id="inputEmail" name="inputEmail" value="{{context.email}}">
          </div>
          <div class="mb-3">
            <label for="inputPhoneNo" class="form-label">Your Phone Number</label>
            <input type="text" class="form-control" id="inputPhoneNo" name="inputPhoneNo" value="{{context.phonenumber}}" required>
          </div>
          <div class="btn-group mb-3" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" value="yes" id="btnradio1" autocomplete="off"
            {% if context.status=='yes' %} checked {% endif %}
            required>
            <label class="btn btn-outline-success" for="btnradio1">I'll Be there</label>
          
            <input type="radio" class="btn-check" name="btnradio" value="no" id="btnradio3" autocomplete="off"
            {% if context.status=='no' %} checked {% endif %}
            >
            <label class="btn btn-outline-danger" for="btnradio3">Not Attending</label>
          </div>
          <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" /> 
          <div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <script src="{{url_for('static', filename='js/script.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
  <script>
    var duration = 10 * 1000;
    var animationEnd = Date.now() + duration;
    var defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

    function randomInRange(min, max) {
      return Math.random() * (max - min) + min;
    }

    var interval = setInterval(function() {
      var timeLeft = animationEnd - Date.now();

      if (timeLeft <= 0) {
        return clearInterval(interval);
      }

      var particleCount = 50 * (timeLeft / duration);
      // since particles fall down, start a bit higher than random
      confetti({ ...defaults, particleCount, origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 } });
      confetti({ ...defaults, particleCount, origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 } });
    }, 500);
  </script>
{% endblock %}